# next.js
/.next/
/out/

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# misc
.DS_Store

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/cache
