.statement {
  margin-top: 1rem;
  word-break: normal;
  padding-left: 1rem;
  color: rgba(0, 0, 0, 0.8);
  p,
  ul {
    margin-bottom: 0.5rem;
  }
}

.hints {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.list {
  :global(.ant-pro-card-body) {
    padding: 0;
  }
  :global(.ant-pro-list-row-title):hover {
    // Don't change anything on hover
    color: rgba(0, 0, 0, 0.88);
    cursor: auto;
  }
  :global(.ant-list-item) {
    padding: 12px;
  }
  :global(.ant-pro-list-row-header-option):hover, // the expand icon
  .title:hover {
    cursor: pointer;
  }
}

.item {
  .title {
    font-weight: bold;
    .taskCode {
      font-weight: normal;
      width: 3rem;
      display: inline-block;
      color: gray;
      margin-right: 0.8rem;
    }
  }
  .cfLink {
    .cfLinkIcon {
      margin-right: 0.25rem;
    }
  }
  .tags {
  }
}
