.statement {
  margin-top: 1rem;
  word-break: normal;
  padding-left: 1rem;
  color: rgba(0, 0, 0, 0.8);
  p,
  ul {
    margin-bottom: 0.5rem;
  }
}

.hints {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
