.select {
  width: 320px;
}

.selectOption {
  display: flex;
  line-height: 1.5;

  .category,
  .title {
    font-size: 0.7rem;
  }
  .category {
    color: #999;
    width: 30%;
  }
  .title {
    font-weight: bold;
    width: 70%;
    white-space: normal;
    .externalLink {
      margin-right: 0.2rem;
      padding-bottom: 1px;
      color: #777;
    }
    .subtitle {
      font-weight: normal;
      font-size: 0.55rem;
      color: #999;
      // margin-top: -7px;
    }
  }
}
